<html>
    <head>
        <title>
            Customer Details
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
         <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    

        
        <frameset rows="100%"  >
           
        
            <frameset cols="20%,80%" border="0">
                <frame src="{{url_for('menu1')}}"name="menu1"></frame>
                <frame src="{{url_for('main1')}}"name="main1"></frame>
           
            </frameset>
      
        </frameset>
     <body>   

    </body>
</html>