<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        {% for category, message in messages %}
            <div class="alert alert-{{category}}">{{ message }}</div>
        {% endfor %}

    {% endif %}

{% endwith %}
    <div class="main">
       <center> <h1>PRODUCT RECORD<hr></h1></center>

  
        <div align="center"class="table">
            <br>

        
       <table class="table table-border" >
        <thead>
            <tr>
                <th>S.No</th>
                <th>Farmer Name</th>
                <th>PRODUCT</th>
                <th>DATE</th>
                <th>QUANTITY</th>
                <th>PRICE</th>
                <th>Update</th>
                <th>Delete</th>
                
            </tr>
        </thead>
       <tbody>
        {% for res in data %}
        {%set i=loop.index %}
        <tr>
            <td>{{i}}</td>
            <td>{{res["Name"]}}</td>
            <td>{{res["products"]}}</td>
            <td>{{res["Day"]}}</td>
            <td>{{res["quantity"]}}</td>
            <td>{{res["price"]}}</td>
            <td><a href=" {{url_for('modify',id=res['pid'])}}"class="btn btn-primary">UPDATE</a></td>
            <td><a href=" {{url_for('clear',id=res['pid'])}}"class="btn btn-danger">DELETE</a></td>

           
        </tr>
        {% endfor %}
       </tbody>
       </table>
       <div>
        <a href="{{url_for('main1')}}"class ="btn btn-warning pull right">HOME</a>;        
       </div>
    </div>
   </div>
</body>
</html>
<script>
    
    $(document).ready (function(){
     $(".alert").hide(3000)
                
     });      
  </script>